<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ballin Login</title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <h1>Mystery Word Game</h1>
    <div class="container">
           {{{yield}}}
    </div>
  </body>
</html>
